@model tes

@{
    ViewData["Title"] = "Referanslar";
}

<div class="container-mt-4">
    <div class="card shadow-lg p-5">
        <h3 class="text-center text-primary mb-4">Referanslar</h3>
        <table class="table table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Profil Görsel</th>
                    <th>Açıklama</th>
                    <th>Derece</th>
                    <th>Title</th>
                    <th>İşlemler</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
            
                <tr>
                  
                    <td><img src="@item.ImageUrl" style="height:75px;width:75px" />  </td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Price ₺</td>
                    <td>@item.InstructorName</td>
                    <td>@item.InstructorImage</td>

                    <td>
                        <a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                        <a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a>
                    </td>
                </tr>


            }

        </table>
        <a href="/Admin/Product/CreateProduct" class="btn btn-primary">Yeni Ürün</a>
    </div>
</div>

        </table>

    </div>


</div>