@model List<ResultProductDto>
@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="container mt-4">
    <div class="card shadow-lg p-4">
        <h3 class="text-center text-primary mb-4">Ürün Listesi</h3>

        <table class="table table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Ürün Resmi</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Fiyat</th>
                    <th>Eğitmen</th>
                    <th>Eğitmen Görseli</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                }

                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td><img src="@item.ImageUrl" style="height:75px;width:75px" />  </td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Price ₺</td>
                        <td>@item.InstructorName</td>
                        <td>@item.InstructorImage</td>

                        <td>
                            <a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                            <a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a>
                        </td>
                    </tr>


                }

        </table>
        <a href="/Admin/Product/CreateProduct" class="btn btn-primary">Yeni Ürün</a>
    </div>
</div>